#subheading {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

#google-sign-in{
    padding: 30px;
    display: flex;
    align-items: center;
    /* position: relative; */
    flex: 1;
    overflow-y: hidden;
    background-color: #f8f9fa;
}

.sign-in-form {
    padding: 100px;
    align-items: center;
    /* position: relative; */
    flex: 1;
    /* overflow-y: scroll; */
    background-color: #f8f9fa;
}

#sign-in-footer {
    padding: 40px;
    align-items: center;
    /* position: relative; */
    flex: 1;
    overflow-y: hidden;
    background-color: #f8f9fa;
}

.back-button {
    position: absolute;
    left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.title-banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: white;
}

#butzone{
    text-align:center;
}

#bz{
    margin-right:5%;
    margin-left:5%;
    padding:4%;
    background-color: #446672;
    border-radius: 10px;
    border:solid white;
    box-sizing: border-box;
    color:white;
}

#bz:active {
    transform: scale(0.98);
}